<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>PromptVault Login</title>

</head>

<body>

<h1>PromptVault</h1>

<p
        th:if="${error}"
        th:text="${error}"
        style="color:red;">
</p>

<h2>Login</h2>

<form action="/login" method="post">

    <label>

        Username

    </label>

    <br>

    <input type="text" name="username">

    <br><br>

    <label>

        Password

    </label>

    <br>

    <input
            type="password" name="password">

    <br><br>

    <button type="submit">

        Login

    </button>

</form>

<br>

<a href="/register-page">

    Register

</a>

</body>

</html>