<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
  <head>

    <title>PromptVault Login</title>

  </head>

<h1>PromptVault</h1>
<body>
<form action="/register" method="post">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="surname" placeholder="Surname"><br>
  <input type="text" name="username" placeholder="Username"><br>
  <input type="email" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>

  <button type="submit">Register</button>
</form>

<a href="/login-page">Back to login</a>
</body>
</html>